.container-mobile {
    display: none;
}
.listmenu {
    display: none;
}

.container-botao:checked~.listmenu {
    display: block;
}

@media (max-width: 720px) {
    
    .telaGrande{
        display: none;
    }

    .container-mobile {
        display: block;
    }




}